<!doctype html>
<html lang="en">
<head>
    <title>Movie Recommender</title>
</head>
<body>
    <h1>Please enter category for recommendations</h1>
    <form action="/data" method = "POST">
        <p>Name <input type = "text" name = "Name" /></p>
        <p>User ID <input type = "number" name = "ID"></p>
        <p>Category <input type = "text" name = "Category" /> (Options: Horror, Thriller, Action, Adventure, Comedy, Fantasy)</p>
        <p>Max Results <input type= "number" name = "Results" /></p>
        <p><input type = "submit" value = "Submit" /></p>
    </form>
</body>